
@set colorizer < std-plaintext 
{
  :root { aspect: colorize url(colorizer.js); overflow: scroll-indicator; }
  
  text { white-space:pre; height:1.2em; }
  /*highlightup*/  
  text::highlight(tag) { color: olive; } /*background-color: #f0f0fa;*/
  text::highlight(tag-id) { color: red; } /*background-color: #f0f0fa;*/

  /*source*/  
  text::highlight(number) { color: brown; }
  text::highlight(number-unit) { color: brown; }
  text::highlight(string) { color: teal; }
  text::highlight(keyword) { color: blue; }
  text::highlight(symbol) { color: brown; }
  text::highlight(literal) { color: brown; }
  text::highlight(comment) { color: green; }
  
  text[type=script] {  background-color: #FFFAF0; }
  text[type=markup] {  background-color: #FFF;  }
  text[type=style]  {  background-color: #FAFFF0; }
}

plaintext[type] {
  style-set: colorizer;
}

@set element-colorizer 
{
  :root { 
	  aspect: colorize url(colorizer.js); 
	  background-color: #fafaff;
		padding:4dip;
		border:1dip dashed #bbb;
	}
  
  /*highlightup*/  
  :root::highlight(tag) { color: olive; } 
  :root::highlight(tag-id) { color: red; }

  /*source*/  
  :root::highlight(number) { color: brown; }
  :root::highlight(number-unit) { color: brown; }
  :root::highlight(string) { color: teal; }
  :root::highlight(keyword) { color: blue; }
  :root::highlight(symbol) { color: brown; }
  :root::highlight(literal) { color: brown; }
  :root::highlight(comment) { color: green; }
}

pre[type] {
  style-set: element-colorizer;
}
