
    //html:theme(dark) { var(text-color): #fff; var(back-color):#333; var(disabled-color): #aaa; }
    //html:theme(light) { var(text-color): #000; var(back-color):#eee; var(disabled-color): #777; }
          
    html 
    { 
      var(accent-color): window-accent-color;
      font:system; 
      overflow:hidden;
    }

    body { flow:horizontal; margin:0; padding:0; }
   
    toolbar  
    {
      display:block;
      flow:vertical; 
      width:max-content; 
      padding:3dip; 
      height:*;
      background:transparent;
    }
    toolbar > button                   
    {
      background-position: 50% 50%; 
      background-repeat:no-repeat;
      background-size:20dip;
      //foreground-size:auto;
      padding:0;
      size:46dip; 
      fill: color(widget-text);
      stroke:none;
    }

    toolbar > button:disabled { fill:color(widget-disabled-text); } 
    
    frame#content{ size:*; background: transparent ; }
    frame#content > div#intro
    { 
      font: system;
      background-color:window; padding:3px; 
      size:*;
    }
    frame#content > div#intro > img#arrow { vertical-align:middle; size:0.8em; color:brown; }
    
    frame#content.allow-drop
    {
        outline:2dip orange solid -2dip;
    }

    toolbar > button#open         { background-image:url(path:M 4 4 L 4 5 L 4 20 L 4 21 L 4 23.71875 L 6 21.71875 L 6 21 L 6 20 L 6 12 L 26 12 L 26 26 L 12 26 L 11 26 L 10.21875 26 L 8.21875 28 L 11 28 L 12 28 L 27 28 L 28 28 L 28 27 L 28 5 L 28 4 L 27 4 L 5 4 L 4 4 z M 6 6 L 26 6 L 26 10 L 6 10 L 6 6 z M 7 7 L 7 9 L 9 9 L 9 7 L 7 7 z M 10 7 L 10 9 L 12 9 L 12 7 L 10 7 z M 13 7 L 13 9 L 15 9 L 15 7 L 13 7 z M 7.96875 17 L 7.96875 19 L 11.53125 19 L 2.28125 28.25 L 3.71875 29.6875 L 12.96875 20.4375 L 12.96875 24 L 14.96875 24 L 14.96875 18 L 14.96875 17 L 13.96875 17 L 7.96875 17 z); }
    toolbar > button#open-in-view { background-image:url(path:M4,4v1v23h24V4H4z M6,6h20v4H6V6z M7,7v2h2V7H7z M10,7v2h2V7H10z M13,7v2h2V7H13z M6,12h20v14H6V12z); }
    toolbar > button#reload       { background-size:26dip 20dip; background-image:url(path:M 4.5 2 C 3.1250151 2 2 3.1250151 2 4.5 L 2 5.5 L 2 6 L 3 6 L 3 5.5 L 3 4.5 C 3 3.6649849 3.6649849 3 4.5 3 L 11.5 3 C 12.335015 3 13 3.6649849 13 4.5 L 13 6 L 11 6 L 13.5 8.5 L 16 6 L 14 6 L 14 4.5 C 14 3.1250151 12.874985 2 11.5 2 L 4.5 2 z M 2.5 7.5 L 0 10 L 2 10 L 2 11.5 C 2 12.874985 3.1250151 14 4.5 14 L 11.5 14 C 12.874985 14 14 12.874985 14 11.5 L 14 10.5 L 14 10 L 13 10 L 13 10.5 L 13 11.5 C 13 12.335015 12.335015 13 11.5 13 L 4.5 13 C 3.6649849 13 3 12.335015 3 11.5 L 3 10 L 5 10 L 2.5 7.5 z); }
    toolbar > button#help         { background-size:22dip 22dip; background-image:url(path:M 16 4 C 9.3844277 4 4 9.3844277 4 16 C 4 22.615572 9.3844277 28 16 28 C 22.615572 28 28 22.615572 28 16 C 28 9.3844277 22.615572 4 16 4 z M 16 6 C 21.534692 6 26 10.465308 26 16 C 26 21.534692 21.534692 26 16 26 C 10.465308 26 6 21.534692 6 16 C 6 10.465308 10.465308 6 16 6 z M 16 10 C 13.802666 10 12 11.802666 12 14 L 14 14 C 14 12.883334 14.883334 12 16 12 C 17.116666 12 18 12.883334 18 14 C 18 14.767423 17.508714 15.44544 16.78125 15.6875 L 16.375 15.8125 C 15.559939 16.083523 15 16.862393 15 17.71875 L 15 19 L 17 19 L 17 17.71875 L 17.40625 17.59375 C 18.944786 17.08181 20 15.620577 20 14 C 20 11.802666 18.197334 10 16 10 z M 15 20 L 15 22 L 17 22 L 17 20 L 15 20 z); }
    toolbar > button#inspector    { background-size:24dip 24dip; background-image:path(m 17.7813 0.1875 l -1.5 0.625 l 0.4063 1.875 c -0.375 0.273 -0.6818 0.617 -0.9688 1 l -1.9063 -0.4375 l -0.625 1.5 l 1.625 1.0313 c -0.073 0.47 -0.068 0.9432 0 1.4063 l -1.625 1.0313 l 0.5938 1.5 l 1.9063 -0.4063 c 0.275 0.373 0.617 0.6847 1 0.9688 l -0.4688 1.9063 l 1.5 0.625 l 1.0625 -1.6563 c 0.467 0.07 0.9503 0.07 1.4063 0 l 1.0313 1.6563 l 1.5 -0.5938 l -0.4375 -1.9063 c 0.37 -0.273 0.6878 -0.623 0.9688 -1 l 1.9375 0.4375 l 0.625 -1.5 l -1.6563 -1.0313 c 0.072 -0.467 0.066 -0.918 0 -1.375 l 1.6563 -1.0625 l -0.625 -1.5 l -1.9063 0.4375 c -0.271 -0.375 -0.5888 -0.714 -0.9688 -1 l 0.4375 -1.875 l -1.5 -0.625 l -1.0313 1.625 c -0.47 -0.074 -0.9473 -0.066 -1.4063 0 l -1.0313 -1.6563 z m 1.7188 4.0625 c 0.2942 -0.0011 0.5867 0.067 0.875 0.1875 c 1.153 0.483 1.7007 1.7835 1.2188 2.9375 c -0.482 1.153 -1.8148 1.7007 -2.9688 1.2188 c -1.152 -0.482 -1.7007 -1.8128 -1.2188 -2.9688 c 0.3615 -0.864 1.2112 -1.3716 2.0938 -1.375 z m -12.125 4.8125 l -0.4063 2.5 c -0.604 0.147 -1.1695 0.3775 -1.6875 0.6875 l -2.0625 -1.4688 l -1.5 1.5 l 1.4375 2.0625 c -0.313 0.521 -0.5365 1.1118 -0.6875 1.7188 l -2.5 0.4063 l 0 2.125 l 2.5 0.4375 c 0.15 0.606 0.3725 1.1665 0.6875 1.6875 l -1.4688 2.0625 l 1.5 1.5 l 2.0938 -1.4375 c 0.521 0.313 1.0845 0.5395 1.6875 0.6875 l 0.4063 2.5 l 2.125 0 l 0.4375 -2.5 c 0.6 -0.151 1.1725 -0.4058 1.6875 -0.7188 l 2.0938 1.4688 l 1.5 -1.5 l -1.5 -2.0625 c 0.31 -0.517 0.5405 -1.0875 0.6875 -1.6875 l 2.5313 -0.4375 l 0 -2.125 l -2.5313 -0.4063 c -0.149 -0.598 -0.3775 -1.1715 -0.6875 -1.6875 l 1.4688 -2.0938 l -1.5 -1.5 l -2.0625 1.5 c -0.518 -0.313 -1.0845 -0.5698 -1.6875 -0.7188 l -0.4375 -2.5 l -2.125 0 z m 1.0938 5.5313 c 1.635 0 2.9375 1.3025 2.9375 2.9375 c 0 1.636 -1.3025 2.9688 -2.9375 2.9688 c -1.636 0 -2.9688 -1.3328 -2.9688 -2.9688 c 0 -1.635 1.3327 -2.9375 2.9688 -2.9375 z); }

    toolbar > button#enable-blurbehind { background-size:20dip 20dip; margin-top:*; background-image:url(path:M 3.8125 1 A 1.0001 1.0001 0 0 0 3 2 L 3 24 A 1.0001 1.0001 0 0 0 4 25 L 22 25 A 1.0001 1.0001 0 0 0 23 24 L 23 2 A 1.0001 1.0001 0 0 0 22 1 L 4 1 A 1.0001 1.0001 0 0 0 3.90625 1 A 1.0001 1.0001 0 0 0 3.8125 1 z M 5 3 L 12 3 L 12 8 L 5 8 L 5 3 z M 14 3 L 21 3 L 21 8 L 14 8 L 14 3 z M 5 10 L 12 10 L 12 23 L 5 23 L 5 10 z M 14 10 L 21 10 L 21 23 L 14 23 L 14 10 z); }        
    toolbar > button#system-ambience   { background-size:24dip 24dip; margin-top:4dip; background-image:url(path:M 12.96875 3 C 12.637839 3.001211 12.306723 3.024264 11.96875 3.0625 C 7.9057576 3.521225 4.5800919 6.755393 4.0625 10.8125 C 3.6533962 14.022736 4.9567632 16.995065 7.1875 18.875 C 8.3310832 19.838985 9 21.25311 9 22.75 L 9 23 L 9 24 L 9 27 L 9 28 L 10 28 L 11.28125 28 C 11.627196 28.596897 12.260107 29 13 29 C 13.739893 29 14.372804 28.596897 14.71875 28 L 16 28 L 17 28 L 17 27 L 17 24 L 17 23 L 17 22.75 C 17 21.22361 17.736046 19.80257 18.9375 18.75 C 20.815975 17.103103 22 14.6907 22 12 C 22 7.0283812 17.932419 2.9818357 12.96875 3 z M 12.96875 5 C 16.87091 4.9808382 20 8.1122437 20 12 C 20 14.1033 19.088525 15.966897 17.625 17.25 C 16.245806 18.458285 15.406634 20.153367 15.1875 22 L 10.84375 22 C 10.645124 20.209322 9.8935567 18.51845 8.5 17.34375 C 6.7627368 15.879685 5.7396038 13.596264 6.0625 11.0625 C 6.4609081 7.939607 9.0584924 5.384525 12.1875 5.03125 C 12.453902 5.001111 12.708606 5.0012775 12.96875 5 z M 21.875 18.9375 L 21.875 20.78125 L 22.34375 20.78125 C 21.738662 21.166613 21.239611 21.681628 20.84375 22.28125 L 20.84375 21.9375 L 18.84375 21.9375 L 18.84375 23.8125 L 20.125 23.8125 C 20.030242 24.192801 20 24.591847 20 25 C 20 25.412354 20.060872 25.803474 20.15625 26.1875 L 18.84375 26.1875 L 18.84375 28.0625 L 20.84375 28.0625 L 20.84375 27.78125 C 21.230678 28.352623 21.761138 28.847702 22.34375 29.21875 L 21.875 29.21875 L 21.875 31.0625 L 23.875 31.0625 L 23.875 29.875 C 24.238486 29.959881 24.6117 30 25 30 C 25.3883 30 25.761514 29.959881 26.125 29.875 L 26.125 31.0625 L 28.125 31.0625 L 28.125 29.21875 L 27.65625 29.21875 C 28.261338 28.833387 28.760389 28.318372 29.15625 27.71875 L 29.15625 28.0625 L 31.15625 28.0625 L 31.15625 26.1875 L 29.875 26.1875 C 29.969758 25.807199 30 25.408153 30 25 C 30 24.587646 29.939128 24.196526 29.84375 23.8125 L 31.15625 23.8125 L 31.15625 21.9375 L 29.15625 21.9375 L 29.15625 22.21875 C 28.759567 21.632972 28.229376 21.157497 27.625 20.78125 L 28.125 20.78125 L 28.125 18.9375 L 26.125 18.9375 L 26.125 20.125 C 25.762294 20.040328 25.386169 20 25 20 C 24.6117 20 24.238486 20.040119 23.875 20.125 L 23.875 18.9375 L 21.875 18.9375 z M 25 22 C 26.668147 22 28 23.331853 28 25 C 28 26.668147 26.668147 28 25 28 C 23.331853 28 22 26.668147 22 25 C 22 23.331853 23.331853 22 25 22 z M 11 24 L 15 24 L 15 26 L 11 26 L 11 24 z); }    
    toolbar > button#ambience          { background-size:24dip 24dip; margin-top:4dip; background-image:url(path:M 15 3 L 15 8 L 17 8 L 17 3 L 15 3 z M 7.5 6.09375 L 6.09375 7.5 L 9.625 11.0625 L 11.0625 9.625 L 7.5 6.09375 z M 24.5 6.09375 L 20.9375 9.625 L 22.375 11.0625 L 25.90625 7.5 L 24.5 6.09375 z M 16 9 C 12.145852 9 9 12.145852 9 16 C 9 19.854148 12.145852 23 16 23 C 19.854148 23 23 19.854148 23 16 C 23 12.145852 19.854148 9 16 9 z M 16 11 C 18.773268 11 21 13.226732 21 16 C 21 18.773268 18.773268 21 16 21 C 13.226732 21 11 18.773268 11 16 C 11 13.226732 13.226732 11 16 11 z M 3 15 L 3 17 L 8 17 L 8 15 L 3 15 z M 24 15 L 24 17 L 29 17 L 29 15 L 24 15 z M 9.625 20.9375 L 6.09375 24.5 L 7.5 25.90625 L 11.0625 22.375 L 9.625 20.9375 z M 22.375 20.9375 L 20.9375 22.375 L 24.5 25.90625 L 25.90625 24.5 L 22.375 20.9375 z M 15 24 L 15 29 L 17 29 L 17 24 L 15 24 z); }

    toolbar > button#icons          { background-size:24dip; background-image:url(icon:translate); }
   
    toolbar > button#live-reload  { 
      background-size:20dip; 
      background-image:url(path:M14.408 24h-13.408v-24h10.189c3.163 0 9.811 7.223 9.811 9.614v2.068c-.622-.296-1.293-.502-2-.603v-.623c0-4.106-6-2.456-6-2.456s1.518-6-2.638-6h-7.362v20h9.26c.566.81 1.299 1.49 2.148 2zm2.257-8.669c.402-.206.852-.331 1.335-.331 1.455 0 2.67 1.042 2.941 2.418l1.96-.398c-.456-2.291-2.475-4.02-4.901-4.02-.957 0-1.845.278-2.604.745l-1.396-1.745-1 5h5l-1.335-1.669zm5.335 8.669l-1.396-1.745c-.759.467-1.647.745-2.604.745-2.426 0-4.445-1.729-4.901-4.02l1.96-.398c.271 1.376 1.486 2.418 2.941 2.418.483 0 .933-.125 1.335-.331l-1.335-1.669h5l-1 5z); 
      transition: background-color 400ms linear, fill 400ms linear;
    }

    toolbar > button#live-reload:visited {
      background-color: color(widget-text);
      fill: color(widget-back);
    }

    hr { margin:0; padding:0; height:0; border:none; border-top: 1px dashed #999; }
