
@set properties {
    :root {
        max-width:128px;
        width:*; // expandable;
        height:*;
        vertical-align:middle;
        text-align:center;
        border-left: 1px solid var(border-color);
        background:var(base-color);
        color:var(base-text-color);
    }

}