

anchor     { prototype: HTMLAnchorElement url(htmlx.js); }
area       { prototype: HTMLAreaElement url(htmlx.js); }
audio      { prototype: HTMLAudioElement url(htmlx.js); }
base       { prototype: HTMLBaseElement url(htmlx.js); }
body       { prototype: HTMLBodyElement url(htmlx.js); }
br         { prototype: HTMLBRElement url(htmlx.js); }
button     { prototype: HTMLButtonElement url(htmlx.js); }
canvas     { prototype: HTMLCanvasElement url(htmlx.js); }
content    { prototype: HTMLContentElement url(htmlx.js); } 
data       { prototype: HTMLDataElement url(htmlx.js); }
datalist   { prototype: HTMLDataListElement url(htmlx.js); }
details    { prototype: HTMLDetailsElement url(htmlx.js); }
dialog     { prototype: HTMLDialogElement url(htmlx.js); } 
div        { prototype: HTMLDivElement url(htmlx.js); }
dlist      { prototype: HTMLDListElement url(htmlx.js); }
embed      { prototype: HTMLEmbedElement url(htmlx.js); }
fieldset   { prototype: HTMLFieldSetElement url(htmlx.js); }
font       { prototype: HTMLFontElement url(htmlx.js); } 
form       { prototype: HTMLFormElement url(htmlx.js); }
frameset   { prototype: HTMLFrameSetElement url(htmlx.js); } 
head       { prototype: HTMLHeadElement url(htmlx.js); }
h1         { prototype: HTMLHeadingElement url(htmlx.js); }
h2         { prototype: HTMLHeadingElement url(htmlx.js); }
h3         { prototype: HTMLHeadingElement url(htmlx.js); }
h4         { prototype: HTMLHeadingElement url(htmlx.js); }
h5         { prototype: HTMLHeadingElement url(htmlx.js); }
h6         { prototype: HTMLHeadingElement url(htmlx.js); }
hr         { prototype: HTMLHRElement url(htmlx.js); }
html       { prototype: HTMLHtmlElement url(htmlx.js); }
iframe     { prototype: HTMLIFrameElement url(htmlx.js); }
image      { prototype: HTMLImageElement url(htmlx.js); }
input      { prototype: HTMLInputElement url(htmlx.js); }
keygen     { prototype: HTMLKeygenElement url(htmlx.js); }
label      { prototype: HTMLLabelElement url(htmlx.js); }
legend     { prototype: HTMLLegendElement url(htmlx.js); }
li         { prototype: HTMLLIElement url(htmlx.js); }
link       { prototype: HTMLLinkElement url(htmlx.js); }
map        { prototype: HTMLMapElement url(htmlx.js); }
marquee    { prototype: HTMLMarqueeElement url(htmlx.js); } 
media      { prototype: HTMLMediaElement url(htmlx.js); }
menu       { prototype: HTMLMenuElement url(htmlx.js); } 
meta       { prototype: HTMLMetaElement url(htmlx.js); }
meter      { prototype: HTMLMeterElement url(htmlx.js); }
mod        { prototype: HTMLModElement url(htmlx.js); }
object     { prototype: HTMLObjectElement url(htmlx.js); }
olist      { prototype: HTMLOListElement url(htmlx.js); }
optgroup   { prototype: HTMLOptGroupElement url(htmlx.js); }
option     { prototype: HTMLOptionElement url(htmlx.js); }
output     { prototype: HTMLOutputElement url(htmlx.js); }
p          { prototype: HTMLParagraphElement url(htmlx.js); }
param      { prototype: HTMLParamElement url(htmlx.js); }
picture    { prototype: HTMLPictureElement url(htmlx.js); } 
pre        { prototype: HTMLPreElement url(htmlx.js); }
progress   { prototype: HTMLProgressElement url(htmlx.js); }
quote      { prototype: HTMLQuoteElement url(htmlx.js); }
script     { prototype: HTMLScriptElement url(htmlx.js); }
select     { prototype: HTMLSelectElement url(htmlx.js); }
shadow     { prototype: HTMLShadowElement url(htmlx.js); } 
slot       { prototype: HTMLSlotElement url(htmlx.js); }
source     { prototype: HTMLSourceElement url(htmlx.js); }
span       { prototype: HTMLSpanElement url(htmlx.js); }
style      { prototype: HTMLStyleElement url(htmlx.js); }
caption    { prototype: HTMLTableCaptionElement url(htmlx.js); }
td         { prototype: HTMLTableCellElement url(htmlx.js); }
th         { prototype: HTMLTableCellElement url(htmlx.js); }
col        { prototype: HTMLTableColElement url(htmlx.js); }
table      { prototype: HTMLTableElement url(htmlx.js); }
tr         { prototype: HTMLTableRowElement url(htmlx.js); }
tbody      { prototype: HTMLTableSectionElement url(htmlx.js); }
thead      { prototype: HTMLTableSectionElement url(htmlx.js); }
tfoot      { prototype: HTMLTableSectionElement url(htmlx.js); }
template   { prototype: HTMLTemplateElement url(htmlx.js); }
textarea   { prototype: HTMLTextAreaElement url(htmlx.js); }
time       { prototype: HTMLTimeElement url(htmlx.js); }
title      { prototype: HTMLTitleElement url(htmlx.js); }
track      { prototype: HTMLTrackElement url(htmlx.js); }
ulist      { prototype: HTMLUListElement url(htmlx.js); }
unknown    { prototype: HTMLUnknownElement url(htmlx.js); }
video      { prototype: HTMLVideoElement url(htmlx.js); }

